.indented {
  margin-left: 15px;
  display: block;
}

.ts-control {
  border: none !important;
}

.card {
  // background: linear-gradient(180deg, #f4fbff, rgba(255, 255, 255, 0.65));
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
  // background-color: #f4fbff;
  margin-top: 0;
  // color: $gray;
}
