<div
id="barchart"
data-controller="barchart"
data-barchart-nots-value="<%= entries.where(action: "No").count %>"
data-barchart-yes-value="<%= @yes_percentage %>"
data-barchart-situation-value="<%= situation %>"
>
  <div class="d-block w-100" data-barchart-target="bar">
  </div>
</div>
