<% entries.each do |entry| %>
    <div class="card text-bg-light mb-3 od" <%# style="max-width: 18rem"; %>>
      <div class="card-header d-flex justify-content-between">
        <p>Emotional Tag here!</p>
        <p><%= entry.created_at.strftime("%F") %></p>
      </div>
      <div class="card-body d-flex justify-content-">
        <p class="card-text">Insert content here</p>
      </div>
    </div>
  <% end %>
