<div class="container pt-4">
  <div class="d-flex justify-content-center">
    <h1>Entry History</h1>
  </div>
  <%# This is the start of the dropdown code %>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Search by Category
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Situation</a></li>
      <li><a class="dropdown-item" href="#">Emotion</a></li>
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Consequence</a></li>
    </ul>
  </div>
  <%# This is the end of the dropdown code %>
  <%# <%= render "search-category" %>  <%# Change render name to correct one later  %>
  <div class='entries'>
    <%= link_to 'generate pdf', entries_path(format: :pdf), class: 'btn btn-warning p-2 my-3'   %>
    <%= render 'entries', entries: @entries %>
  </div>
</div>
