<div class="container pt-4">
  <div class="d-flex justify-content-center">
    <h1>Entry History</h1>
  </div>
  <%= render "search" %>
  <div class='entries'>
    <%= link_to 'generate pdf', entries_path(format: :pdf), class: 'btn btn-warning p-2 my-3'   %>
    <%= render 'entries', entries: @entries %>
  </div>
</div>
