<div class="navbar-bottom">
  <a href="#"><i class="fa-solid fa-house"></i></a>
  <a href="#"><i class="fa-solid fa-plus"></i></a>
  <a href="#"><i class="fa-regular fa-file-lines"></i></a>
  <a href="#"><i class="fa-brands fa-forumbee"></i></a>
</div>
