<div class="navbar-bottom">
  <a href="/dashboard"><i class="fa-solid fa-house"></i></a>
  <a href="/entries/new"><i class="fa-solid fa-plus"></i></a>
  <a href="/entries"><i class="fa-regular fa-file-lines"></i></a>
  <a href="/posts"><i class="fa-brands fa-forumbee"></i></a>
</div>
