<div class="p-3">
  <h3>TUESDAY, AUGUST 22</h3>
  <h1>Today</h1>
  <%# <%= render "carousel_post" %>
  <%= render "carousel_graph" %>
  <%= render "emotions_pie_chart", data: @emotions_data %>
  <%= render "action_bar_graph", data: @actions_data %>
</div>
