<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res-console.cloudinary.com/dzfvyhpbv/thumbnails/v1/image/upload/v1692935061/a2Fud2FfYmFja2dyb3VuZF91aXN3aDA=/template_primary/L2NfdGh1bWIsd181MDAsaF84MDAsZ19hdXRv);">
  <div class="container mt-3">
    <h1>Alleviate the waves of your mind</p>
    <div><%= link_to "Go to the dashboard", dashboard_path(@dashboard), class: "btn btn-primary" %>
    </div>
  </div>
</div>
