<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))
  <div class="container mt-3">
  <h1>Emotional Regulation Therapy.</p>
  <div><%= link_to "Go to the dashboard", dashboard_path(@dashboard), class: "btn btn-primary" %></div>
</div>
</div>
app/views/pages/home.html.erb
app/assets/images/kanwa_background.png
