<html>
  <head>
    <style>
      body {
        background: url("kanwa_background.png");

      }
    </style>
  </head>
  <body>
    <div class="container mt-3">
      <h1>Emotional Regulation Therapy.</p>
      <div><%= link_to "Go to the dashboard", dashboard_path(@dashboard), class: "btn btn-primary" %></div>
    </body>
  </html>
