<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dzfvyhpbv/image/upload/v1692937454/landing_moble_s8kifa.jpg);">
  <div class="container mt-3">
    <h1>Alleviate the waves of your mind</p>
    <div><%= link_to "Go to the dashboard", dashboard_path(@dashboard), class: "btn btn-primary" %>
    </div>
  </div>
</div>
