<div class="container">
  <div class="row justify-content-center">
    <h1 class='text-center mb-3'>Some Food For Thought</h1>
    <p class='p-3 text-center'>This may help you with your latest situation, where you felt <em><%= "#{@entry.emotion.name}" %></em> about <b><%= "#{@entry.situation}" %></b></p>
    <%@video_ids.each do |id|  %>
      <div class="col-12 p-4 my-2 shadow d-flex justify-content-center">
        <iframe
        class='video opacity'
        src="https://www.youtube.com/embed/<%=id%>"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      </div>
    <% end %>
  </div>
</div>
