.entry-stat {
  padding: 0;
  border-radius: 15px;
  border-color: rgba(255, 255, 255, 0.65);
  margin-bottom: -0.1em;
  margin-left: 1.1em;
  color: rgb(190, 190, 190);

  p {
    margin: 0;
    // color: rgb(190, 190, 190);
  }
}
