.category-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector+label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  text-align: left;
  padding: 10px 10px 10px 10px;
  border: 1px solid $blue;
  border-radius: 16px;
  background-color: $white;
  text-align: center;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.09);
}

.category-selector:checked+label {
  color: white !important;
}

.category-item:has(.form-check-input:checked)>label {
  background-color: $blue;
  border-color: $blue;
}

.category-item>label {
  color: $blue;
}

.next{
  text-align: end;

  button{
    color: $blue;
    border: none;
    background-color: transparent;

  }
  button:active{
    border: none;
    background-color: transparent;
  }
}

// #entry_situation_work+label {
//   color: $green;
// }

// #entry_situation_work:checked+label {
//   background-color: $green;
//   border-color: $green;
// }


// #entry_situation_friends+label {
//   color: $green;
// }

// #entry_situation_friends:checked+label {
//   background-color: $green;
//   border-color: $green;
// }


// #entry_situation_family+label {
//   color: $green;
// }

// #entry_situation_family:checked+label {
//   background-color: $green;
//   border-color: $green;
// }

// #entry_situation_relationship+label {
//   color: $green;
// }

// #entry_situation_relationship:checked+label {
//   background-color: $green;
//   border-color: $green;
// }

// #entry_situation_other+label {
//   color: $green;
// }

// #entry_situation_other:checked+label {
//   background-color: $green;
//   border-color: $green;
// }
