.navbar-bottom {
  // background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // height: 100px;
  padding: 0px 25px;
  padding-bottom: 0.8em;
  padding-top: 0.8em;
  // color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  border: 0.5px solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 65px;
  position: sticky;
  bottom: 0;
  z-index: 99;
  border-bottom: 1.3em solid transparent;

  i {
    font-size: 1.5em;
    color: $blue;
  }
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.icon-active {
  color: #cfe1e4 !important;
}

#bullet-footer {
  display: none;
}
