@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.navigation {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg, #e3f2fd, #eee);
  border: 0.5px solid rgb(251, 247, 247);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5em 1em;
  position: initial;
  display: flex;
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  width: 40px;
  margin-left: 0.5em;
  font-family: Satisfy;
  font-size: 28px;
  color: transparent;
  transition: 1s;
}

.navbar-brand:hover {
  color: #8AB2BB
}

.dropdown {
  width: 40px;
}

.dropdown-menu {
  background-color: #e3f2fd;
}

.dropdown-item {
  padding: 0.3em;
  padding-left: 1.5em;
  border-radius: 8px;
}

// .collapse {
//   justify-content: end;
//   display: flex;
// }
