@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";


$red: #EAB9B9;
$blue: #8AB2BB;
$yellow: #ffcb77;
$orange: #F07167;
$green: rgb(165, 204, 169);
$gray: #454F5C;
$light-gray: #F8F8F8;
$font: #161a1e;
$white: white;

body {
  margin: 0;
  padding: 0;
  color: $font
}

h1 {
  text-align: center;
  font-family: $headers-font;
  margin-top: 2em;
}

.date {
  text-align: right;
  // padding-right: 1em;
  display: inline-block;
  margin-left: 55%;
  margin-bottom: 0;
  font-size: 18px;
}

h3 {
  font-family: $headers-font;
  padding-left: 1em;
  display: inline-block;
  margin-bottom: 0;
  font-size: 20px;

}

// .card {
//   border-radius: 5px;
//   margin-top: 1em;
//   margin-bottom: 1em;
//   padding: 1em;
//   font-size: 18px;
//   background-color: rgb(229, 227, 227);
//   box-shadow: 1px 1px 3px gray;
//   page-break-inside: avoid;
//   padding-top: 0;
//   background-color: #f2d49f;
// }

// .card-header {
//   padding: 0 1em;
//   display: flex;
//   align-items: center;
//   font-size: 22px;
//   font-family: $headers-font;
//   background-color: #d7b377;
//   margin-left: -0.9em;
//   margin-right: -0.9em;
//   border-radius: 5px 5px 0 0;
//   font-weight: 400;
//   text-shadow: $gray;

//   p:first-child {
//     display: inline-block;
//     margin-left: 70%;
//     font-size: 20px;
//   }
// }

// .card-body {
//   font-family: $body-font;

//   p:nth-child(2) {
//     text-indent: 1em;
//   }
// }

.cards-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(8px);
  border: 0.5px solid white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  margin: 20px 15px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(8px);
  border: 0.5px solid white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-left: 50px;
  // padding-right: 20px;
  padding-bottom: 10px;
  margin: 20px 15px;
  font-size: 17.4px;
  line-height: 1.17;
}

.card-trip {
  overflow: hidden;
  background: #e7f1f8;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 8px;

}
